.drew-avatar {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 250px;
    z-index: 999;
}

.drew-image {
    width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.drew-image:hover {
    transform: scale(1.05);
}
